Repository IBMa/equal-access, pull requests merged in 2025-03, with the labels that each got.

#2221 fixrule(`element_scrollable_tabbable`, `element_tabbable_role_valid`, `text_contrast_sufficient`): Issues related to scrolling, tabbing, and disabled controls
  accessibility-checker-engine/src/v2/aria/ARIADefinitions.ts
  accessibility-checker-engine/src/v4/rules/element_scrollable_tabbable.ts
  accessibility-checker-engine/src/v4/rules/element_tabbable_role_valid.ts
  accessibility-checker-engine/src/v4/rules/text_contrast_sufficient.ts
  accessibility-checker-engine/src/v4/util/VisUtil.ts
  accessibility-checker-engine/test/v2/checker/accessibility/rules/element_scrollable_tabbable_ruleunit/scrollable_element_tabbable.html
  accessibility-checker-engine/test/v2/checker/accessibility/rules/text_contrast_sufficient_ruleunit/disabled_control.html
  accessibility-checker/test/mocha/aChecker.Fast/aChecker.Scans/aChecker.Content.Puppeteer.test.js
Labels: engine, Ready for QA

#2222 fixrule(`element_scrollable_tabbable`, `element_tabbable_role_valid`, `text_contrast_sufficient`): Issues related to scrolling, tabbing, and disabled controls V4
  accessibility-checker-engine/src/v2/aria/ARIADefinitions.ts
  accessibility-checker-engine/src/v4/rules/element_scrollable_tabbable.ts
  accessibility-checker-engine/src/v4/rules/element_tabbable_role_valid.ts
  accessibility-checker-engine/src/v4/rules/text_contrast_sufficient.ts
  accessibility-checker-engine/src/v4/util/VisUtil.ts
  accessibility-checker-engine/test/v2/checker/accessibility/rules/element_scrollable_tabbable_ruleunit/scrollable_element_tabbable.html
  accessibility-checker-engine/test/v2/checker/accessibility/rules/text_contrast_sufficient_ruleunit/disabled_control.html
  accessibility-checker/test/mocha/aChecker.Fast/aChecker.Scans/aChecker.Content.Puppeteer.test.mjs
Labels: engine, Ready for QA

#2218 CI/CD packages boilerplates: Getting started, batch-scan, and command-line scanning
  accessibility-checker/README.md
  accessibility-checker/boilerplates/README.md
  accessibility-checker/boilerplates/batch-scan/README.md
  accessibility-checker/boilerplates/cucumber-selenium/README.md
  accessibility-checker/boilerplates/jest/README.md
  accessibility-checker/boilerplates/protractor/README.md
Labels: documentation, Tools Sq

#2232 fixrule(element_scrollable_tabbable, aria_child_tabbable, element_tabbable_role_valid): fix combobox tabbable descendent error
  accessibility-checker-engine/src/v4/rules/aria_child_tabbable.ts
  accessibility-checker-engine/src/v4/rules/element_scrollable_tabbable.ts
  accessibility-checker-engine/src/v4/rules/element_tabbable_role_valid.ts
  accessibility-checker-engine/src/v4/util/AriaUtil.ts
  accessibility-checker-engine/test/v2/checker/accessibility/rules/aria_child_valid_ruleunit/carbon_combobox.html
  accessibility-checker-engine/test/v2/checker/accessibility/rules/aria_child_valid_ruleunit/menu_child.html
  accessibility-checker-engine/test/v2/checker/accessibility/rules/text_contrast_sufficient_ruleunit/act_pass_10.html
Labels: engine

#2233 fixrule(element_scrollable_tabbable, aria_child_tabbable, element_tabbable_role_valid): fix combobox tabbable descendent error v4
  accessibility-checker-engine/src/v4/rules/aria_child_tabbable.ts
  accessibility-checker-engine/src/v4/rules/element_scrollable_tabbable.ts
  accessibility-checker-engine/src/v4/rules/element_tabbable_role_valid.ts
  accessibility-checker-engine/src/v4/util/AriaUtil.ts
  accessibility-checker-engine/test/v2/checker/accessibility/rules/aria_child_valid_ruleunit/carbon_combobox.html
  accessibility-checker-engine/test/v2/checker/accessibility/rules/aria_child_valid_ruleunit/menu_child.html
  accessibility-checker-extension/package-lock.json
  report-react/package-lock.json
  rule-server/package-lock.json
Labels: engine
